/viikko4/OlioidenPersistointi/Oluttietokanta1/target/
/viikko4/OlioidenPersistointi/Oluttietokanta2/target/
/viikko5/viikko5/MockitoDemo/target/
/viikko5/viikko5/Verkkokauppa4/target/
/viikko5/viikko5/Ohtu-NhlStatistics3/target/